<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Page</title>
</head>
<body>
    <p>Hi, {{ name }}</p>
    <form method="post" action="/month">
        <input type="text" name="month_input" />
        <input type="submit" value="Submit">
    </form>
    {% if result %}
    <p>Month: {{ result }} </p>
    {% endif %}
    <form method="get" action="/animals/list">
        <div><label>List animals:</label</div>
        <input type="submit" value="Submit">
    </form>
    {% if animal_result %}
    <p>Animals: {{ animal_result }} </p>
    {% endif %}
    <form method="get" action="/books/list">
        <div><label>List books:</label</div>
        <input type="submit" value="Submit">
    </form>
    {% if book_result %}
    <p>Books: {{ book_result }} </p>
    {% endif %}
</body>
</html>
